
header {
  .logo-column {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    .header-logo {
      float: left;
      width: 40px;
      height: 40px;
      margin: 5px;
      background-size: cover;
      display: flex;
      -webkit-animation: rotation 360s infinite linear;
      animation: rotation 360s infinite linear;
      -moz-animation: rotation 360s infinite linear;
    }
    h1.logo-font {
      display: flex;
      font-family: 'Helvetiva Neue', Arial, sans-serif;
      line-height: 50px;
      text-align: bottom;
      font-size: 1rem;
      margin-left: 1rem;
      color: #BA6A9A;
      left: 0;
      margin-top: 0;
      vertical-align: middle;
      
      &>:first-child {
        color: #7B97ED;
      }
      &>:last-child {
        color: #BA6A9A;
        font-weight: bold;
      }
    }
  }
  .icon-container {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    height: 50px;

    a {
      display: flex;
      align-self: center;
      color: #92D196;
      opacity: 0.7;
      font-size: 1.5;

      &:hover {
        opacity: 1;
      }
    }
  }

  @-webkit-keyframes rotation {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -moz-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
      -moz-transform: rotate(359deg);
    }
  }

  @-moz-keyframes rotation {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -moz-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
      -moz-transform: rotate(359deg);
    }
  }

  @keyframes rotation {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -moz-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
      -moz-transform: rotate(359deg);
    }
  }

}
