body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.16rem;
  font-weight: 200;
  letter-spacing: 0.2px;
}
#app {
  // prevents "swimming" layout on mobile
  overflow: hidden;
  // add all styles that should apply to the whole project within this
  // The ID "app" is part of the HTML template, and is the entry point where
  // the React components are being injected into.

  min-height: 100vh;
  color: #352f4f;

  a {
    color: #7b97ed;
    &:hover,
    &:focus,
    &:active {
      color: #ba6a9a;
    }
  }

  .icon-container a {
    color: #352f4f;
  }

  .ui.positive.button {
    background-color: #92d196;
    color: #352f4f;
  }

  .ui.basic.black.button {
    border-radius: 3px;
    color: #352f4f !important;
    &.active {
      background-color: #ba6a9a !important;
      color: #fff !important;
    }
  }

  input,
  textarea {
    border-radius: 3px;
  }

  .ui.icon.heart {
    animation: heartbeat 1.4s infinite;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: 'Roboto', sans-serif;
    line-height: 1.05em;
  }
  h1.logo-font {
    line-height: 50px;
  }

  .ui.text.container {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 1.16rem;
    font-weight: 200;
    letter-spacing: 0.2px;
  }

  @keyframes heartbeat {
    0% {
      transform: scale(0.9);
    }
    15% {
      transform: scale(1);
    }
    30% {
      transform: scale(0.9);
    }
    45% {
      transform: scale(1);
    }
    80% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(0.9);
    }
  }

  header {
    padding-bottom: 2rem;
    margin: 0;
    position: relative;
  }
  header:before {
    content: '';
    position: absolute;
    top: -50px;
    bottom: 0;
    right: -50%;
    z-index: -1;
    width: 200%;
    height: 240px;
    background: rgba(146, 209, 150, 0.2);
    transform: rotate(-3deg);
    transform-origin: center;
  }

  header + nav {
    margin-top: 0;
    > ul {
      margin: 0;
      padding: 1em 0;
    }
  }

  strong {
    color: #000 !important;
  }

  .homepage > .segment {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }

  .col-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2rem 0 1rem;

    > * {
      font-family: 'Helvetica Neue', Arial, sans-serif;
      margin: 1rem 0;

      h3 {
        font-family: 'Helvetica Neue', Arial, sans-serif;
        font-weight: 400;
        font-size: 1.34rem;
      }
      p {
        font-size: 1.16rem;
        font-weight: 200;
        letter-spacing: 0.2px;
      }
    }

    @media only screen and (min-width: 800px) {
      > * {
        width: calc(50% - 1rem);
      }
      > *:nth-child(even) {
        margin-left: 2rem;
      }
    }
  }

  .page-title {
    margin-top: 0.5rem;
    font-family: 'Roboto', sans-serif;
    color: #ba6a9a;
    line-height: 1.1;
    font-weight: 200;
    display: block;
  }

  h1.ui.header .sub.header {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 1.4em;
    letter-spacing: 0.2px;
    color: #352f4f;
    margin: 1rem auto 0.5rem auto;
  }

  .feedback-message {
    display: none;
  }

  .switcher {
    padding: 20px 0 0 0;

    .buttons {
      padding: 50px 0 20px 0;
    }
  }

  .box {
    width: 100%;
    padding: 2em;
    display: block;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.2);

    @media only screen and (max-width: 599px) {
      padding: 1.5em;
    }
    @media only screen and (min-width: 599px) {
      max-width: 550px;
    }
  }
  #map-view {
    position: relative;
  }

  .map-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;

    button {
      border-radius: 4px;
      font-size: 1.24em;
      color: #7B97ED;
      background: #fff;
      border: 1px solid #7B97ED;
    }
    .active {
      background-color: rgba(123, 151, 237, 0.214)
    }

    @media only screen and (max-width: 600px) {
      button {
        font-size: 1em;
      }
    }

    @media only screen and (min-width: 1090px) {
      margin: 10px 0 30px;
    }
  }

  .mapform {
    margin: 20px 0 0 0;

    @media only screen and (min-width: 1090px) {
      position: absolute;
      left: 10px;
      top: 90px;
      z-index: 100000;
      margin-top: 10px;
    }

    // background-color: rgb(245, 245, 245);

    h2 {
      font-family: Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;
      font-size: 1em;
      font-weight: bold;
      margin: calc(2rem - 0.025em) 0 1rem !important;

      @media only screen and (min-width: 1090px) {
        margin: 0.4rem 0 !important;
      }
    }
  }

  #mapcontainer {
    position: relative;
  }
}
.ui.inverted.segment {
  background-color: #352f4f;
}
